<div class="fixed w-full h-[calc(100vh)] bg-gray-900/30 flex justify-center items-center">
    <div class="absolute w-full min-h-[calc(100vh)] " (click)="close()" ></div>
    <div class="z-30 bg-gray-800 w-[calc(50vw)] lg:w-[calc(60vw)] rounded-md overflow-hidden">
        <div class="flex justify-end">
            <button (click)="close()" class="w-10 h-10 hover:bg-red-600 bg-red-500 z-40 rounded-es-md">
                <i class="fa-solid fa-x text-white"></i>
            </button>
        </div>
        <div class="lg:flex items-center py-6">
            <div class="relative mx-4 mb-6   ">
                <div class="bg-gray-800 text-xs absolute rounded-md -top-4 right-0 md:text-lg w-6/12 p-2 flex items-center justify-center font-bold lg:left-0 lg:top-0 lg:text-white lg:text-md lg:-translate-y-full lg:rounded-none lg:bg-gray-900 lg:rounded-t-md text-white">
                    {{name}}
                </div>
                <div class="bg-white w-full mx-auto rounded-md overflow-hidden">
                    <img  [src]="image" alt="projectImage">
                </div>
            </div>
            <div>
                <div class=" w-11/12  mx-auto">
                    <div class="flex flex-wrap gap-2 text-xs px-auto px-2 py-3">
                        <span *ngFor="let tecnology of tecnologias" class="bg-teal-600 text-teal-300 font-bold px-2 py-1 rounded-md">{{tecnology}}</span>
                    </div>
                    <div class="bg-gray-600 rounded-md text-left text-white">
                        <div class="p-2 font-bold">{{name}}</div>
                        <div class="ps-2 pb-4 text-xs text-pretty info-project">{{info}}</div>
                    </div>
                    <div class="grid grid-flow-row justify-center sm:flex sm:justify-around mt-5 mb-6">
                        <a [href]="webURL" class="hover:bg-teal-500 font-bold text-white inline-block bg-teal-700 px-6 py-2 rounded-md lg:text-sm" target="_blank">Web</a>
                        <a [href]="gitHubURL" class="hover:bg-violet-500 font-bold mt-4 sm:mt-0 inline-block text-white bg-violet-700 px-6 py-2 lg:px-4 lg:text-sm rounded-md" target="_blank" >GitHub</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
