<!-- <router-outlet></router-outlet> -->
<app-visualizacion *ngIf="proyectModal" (closeModal)="modal($event)" [infoProject]="projectInfo"
    class="fixed z-50"></app-visualizacion>
<div *ngIf="send" class="bg-emerald-500  p-4 rounded-md fixed top-4 right-4 z-50">
    <h2 class="font-bold text-emerald-100 text-2xl">Mensaje Enviado</h2>
    <p class="text-white">Muchas gracias por contactarme</p>
</div>
<div class="w-full min-h-[calc(100vh)] bg-gray-800 overflow-hidden">
    <app-nav class="fixed z-40 w-full bg-gray-800"></app-nav>
    <div class=" w-full grid lg:mt-36 mb-14 grid-cols-1 md:grid-cols-4 mt-28 ">
        <div class="order-1 col-span-2  flex flex-col justify-center items-center px-6 lg:ps-20">
            <div class="text-center font-bold text-4xl text-white mb-6">Desarrollador <span class="text-yellow-400">Full
                    Stack</span></div>
            <div class="text-gray-300">Soy pasionado por la tecnología y el desarrollo de software, con experiencia en
                el desarrollo de aplicaciones web. Me gusta aprender nuevas tecnologías y trabajar en equipo para lograr
                los objetivos propuestos .</div>
            <a class="mt-10 bg-gray-900 rounded-md border-2 border-white px-6 py-2 text-white hover:bg-violet-600 hover:shadow-xl hover:shadow-violet-500"
                href="https://drive.google.com/file/d/1ZEdwFaVLlJuIpJFTXEIoBIXP4bd7G6MpqeVmvCZRlxw/view" target="_blank">Revisar CV</a>
        </div>
        <div class="md:order-1 col-span-2  relative mb-14">
            <div
                class="w-8/12 sm:w-6/12 md:w-8/12 lg:w-[20rem] rounded-t-full lg:-translate-x-16 px-2 pt-8 bg-gray-700 relative mx-auto flex justify-center caja-shadow">
                <div class="w-11/12 h-[calc(96%)] bottom-2 rounded-t-full px-2 pt-8 bg-gray-900 absolute "></div>
                <img class="z-20 w-11/12 rimuru" src="https://portfolio-delta-five-94.vercel.app/assets/rimuru4.png"
                    alt="rimuru">
            </div>
            <div class="absolute z-20 text-white bottom-0 font-bold text-3xl  md:-bottom-6 left-4 md:text-4xl">
                <h2>Roland</h2>
                <h3 class="ms-6 text-yellow-400">Correa Lopez</h3>
            </div>
            <div class="hidden lg:block absolute w-10 h-full right-0 top-0">
                <div class="fixed z-40 flex flex-col gap-3 items-center right-6">
                    <div class="w-1 h-60 bg-yellow-400 rounded-full"></div>
                    <div class="w-5 h-5 bg-yellow-400 rounded-full"></div>
                    <a href="https://github.com/TempestDemiGod" target="_blank"
                        class="w-16 h-16 hover:bg-yellow-400 socialmedia rounded-full flex justify-center items-center text-gray-800 border-4 border-white text-3xl hover:text-white cursor-pointer">
                        <div class="w-12 h-12 bg-yellow-400 rounded-full flex justify-center items-center ">
                            <i class=" fa-brands fa-github"></i>
                        </div>
                    </a>
                    <a href="https://www.linkedin.com/in/roland-correa-lópez-337b26192/" target="_blank"
                        class="w-16 h-16 cursor-pointer hover:bg-yellow-400 rounded-full socialmedia flex justify-center items-center text-gray-800 border-4 border-white text-3xl hover:text-white">
                        <div class=" w-12 h-12 bg-yellow-400 rounded-full flex justify-center items-center ">
                            <i class="fa-brands fa-linkedin"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
        <!-- <div class="col-span-2 bg-emerald-400"></div>
        <div class="  bg-sky-400"></div> -->
        <!-- <div class="md:w-[calc(60vw)] h-3 bg-emerald-400"></div>
        <div class="md:w-[calc(40vw)] h-3 bg-sky-400"></div> -->
    </div>
    <div class="py-6 border-none bg-gray-900 lg:pt-20 w-full skills min-h-[calc(100vh)]" id="skills">
        <h2 class="text-center text-3xl font-bold text-white">Habilidades</h2>
        <div class="flex flex-wrap container mx-auto mt-4 justify-center">
            <app-skills *ngFor="let item of skills " [skill]="item"></app-skills>
        </div>
    </div>
    <!-- <div class="bg-emerald-500 w-full min-h-[calc(100vh)] mt-6">
        estudios
    </div> -->
    <div class="w-full border-none projectos min-h-[calc(76vh)] py-6 -translate-y-1" id="project">
        <h2 class="text-center text-3xl font-bold text-white">Proyectos</h2>
        <p class="text-center mt-4 text-white text-xl">Aqui dejo algunos proyectos de desarrollo.</p>
        <div class="container mx-auto mt-6 flex justify-center flex-wrap">
            <app-card *ngFor="let item of mainProjects" class="" [project]="item"
                (infoProject)="ver($event)"></app-card>
        </div>
        <div *ngIf="listProjects" class=" w-full">
            <div class="flex container mx-auto items-center">
                <div class="w-6/12 h-1 bg-white rounded-full"></div>
                <div class="w-8 h-8 mx-10 rounded-full border-2 border-white flex justify-center items-center">
                    <div class="w-4 h-4 bg-white rounded-full"></div>
                </div>
                <div class="w-6/12 h-1 bg-white rounded-full"></div>
            </div>
            <div class="container mx-auto  flex flex-col items-center">
                <div [ngClass]="{'hidden':!masProyectos, 'block':masProyectos}"
                    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 ">
                    <app-card *ngFor="let item of listProjects" class="" [project]="item"
                        (infoProject)="ver($event)"></app-card>
                </div>
                <button (click)="masProyectos = !masProyectos" type="button"
                    class="bg-emerald-400 text-white font-bold text-xl px-6 py-2 rounded-md mt-6">Ver <span
                        [ngClass]="{'hidden':masProyectos, 'inline-block':!masProyectos}">mas</span><span
                        [ngClass]="{'hidden':!masProyectos, 'inline-block':masProyectos}">menos</span>
                    Proyectos</button>
            </div>
        </div>
    </div>
    <div class="w-full min-h-[calc(100vh)] mt-6 flex items-center" id="contact">
        <div class="hidden md:block w-2/12 h-2 rounded-e-full bg-white"></div>
        <div
            class=" text-white w-10/12 md:w-6/12 xl:w-5/12 mx-auto bg-gray-900 min-h-[calc(80vh)] flex flex-col items-center rounded-md mb-10">
            <form [formGroup]="useForm" (submit)="sendMessage()" class="w-10/12 " >
                <h2 class="font-bold  text-2xl my-6 w-full">Contactame</h2>
                <input formControlName="name" class="w-full mb-4 p-2 rounded-md bg-gray-950/50" type="text" id="user-name"
                    placeholder="Tu Nombre">
                    <div *ngIf="useForm.controls.name.invalid && useForm.controls.name.touched && useForm.controls.name.errors">
                        <div class="bg-red-400 rounded-md mb-2 p-2 text-white" *ngIf="useForm.controls.name.errors['required']">
                            Nombre es requerido
                        </div>
                    </div>

                <input formControlName="email" class="w-full mb-4 p-2 rounded-md bg-gray-950/50" type="text" id="user-email"
                    placeholder="Tu Correo">
                    <div *ngIf="useForm.controls.email.invalid && useForm.controls.email.touched && useForm.controls.email.errors">
                        <div class="bg-red-400 rounded-md mb-2 p-2 text-white" *ngIf="useForm.controls.email.errors['required']">
                            Email es requerido
                        </div>
                        <div class="bg-red-400 rounded-md my-1 p-2 text-white" *ngIf="useForm.controls.email.errors['email']">
                            Email es invalido
                        </div>
                    </div>
                <input formControlName="subject" class="w-full mb-4 p-2 rounded-md bg-gray-950/50" type="text" id="subject" placeholder="Asunto">
                <div *ngIf="useForm.controls.subject.invalid && useForm.controls.subject.touched && useForm.controls.subject.errors">
                    <div class="bg-red-400 rounded-md mb-2 p-2 text-white" *ngIf="useForm.controls.subject.errors['required']">
                        Asunto es requerido
                    </div>
                </div>
                <textarea formControlName="message" class="w-full mb-4 p-2 rounded-md bg-gray-950/50" placeholder="Mensaje" name="message"
                    id="message" cols="30" rows="10"></textarea>
                    <div *ngIf="useForm.controls.message.invalid && useForm.controls.message.touched && useForm.controls.message.errors">
                        <div class="bg-red-400 rounded-md mb-2 p-2 text-white" *ngIf="useForm.controls.message.errors['required']">
                            mensaje es requerido
                        </div>
                    </div>
                <button [disabled]="!useForm.valid" [ngClass]="{'bg-sky-400':useForm.valid, 'bg-sky-700':!useForm.valid}" type="submit" class=" font-bold text-xl px-10 py-2 mt-4 rounded-md mb-4">Enviar</button>
            </form>
        </div>
        <div class="hidden md:block w-2/12 h-2 rounded-s-full bg-white"></div>
    </div>
    <app-footer></app-footer>
</div>
<!-- <app-card class=""></app-card> -->