/* You can add global styles to this file, and also import other style files */

@tailwind base;
@tailwind components;
@tailwind utilities;


body::-webkit-scrollbar {
    width: 4px;    
    height: 8px;    
    background-color: rgb(31 41 55);
  }
  body::-webkit-scrollbar-thumb {
    background: rgb(250 204 21);
    border-radius: 4px;
  }